<div class="comments">
  <PaperSubheader>Comments</PaperSubheader>
  {{#each this.comments as |comment|}}
    <Comment @comment={{comment}} @commentId={{commentId}} @deleteCommentById={{fn this.deleteCommentById commentId}} />
  {{/each}}
  <AddNewComment @createComment={{this.createComment}} />
</div>
