<div class="profile-details">
  <div class="avatar">
    {{paper-icon "person" size=48}}
  </div>
  <div>
    <div class="name">Jane Doe</div>
    <div class="title">Full member</div>
  </div>
</div>
<div class="socials">
  <LoggedInUserProfileActions />
</div>
