<div class="posts">
  {{#each @posts as |post|}}
    <Post @post={{post}} @activePostId={{this.activePostId}} @goToPostDetails={{this.goToPostDetails}} />
  {{/each}}

  <div style="height: 50px" />
</div>
