<div class="header">
  <h4 class="title">Hammock beard marfa mixtape, hoodie unicorn swag pabst 3 wolf moon.</h4>
  <PaperButton @classNames="hide-ls-sm" @iconButton={{true}}>
    {{paper-icon "close"}}
  </PaperButton>
</div>
