<PaperSidenav @class="md-whiteframe-z2 secondary-color site-side-nav" @name="left" @open={{leftSideBarOpen}}
  @onToggle={{action (mut leftSideBarOpen)}}>
  <PaperToolbar as |toolbar|>
    <toolbar.tools @class="secondary-color-light site-side-nav-profile">
      <div class="app-name">
        The Forum
      </div>
      <LoggedInUserProfile />
    </toolbar.tools>
  </PaperToolbar>
  <PaperContent class="secondary-color menu-list" @padding={{true}}>
    <SideNavMenu />
  </PaperContent>
</PaperSidenav>
