<PaperButton @noink={{true}} @raised={{false}} class="menu-item">
  <div>{{@item.name}}</div>
  <div class="sub">{{concat @item.numberOfPosts ' posts'}}</div>
  <PaperDivider class="divider-light" />
</PaperButton>
