<PaperSidenavContainer @class="inner-sidenav">

  <SideNav />

  <PaperCardContent @class="flex">
    <div class="layout-fill layout-align-start-left layout-column" style="height: 100vh">
      <div class="layout-row flex">

        {{!-- Main Screen --}}
        <div class="flex-gt-xs-50 flex-100 main-window primary-color">
          <MainScreen />
        </div>


        {{!-- Details Screen --}}
        <div class="flex-gt-xs-50 flex-0 details-window">
          <PostDetails />
        </div>
      </div>
    </div>
  </PaperCardContent>
</PaperSidenavContainer>
