<PaperSidenavContainer @class="inner-sidenav">

  <SideNav />

  <PaperCardContent @class="flex">
    <div class="layout-fill layout-align-start-left layout-column" style="height: 100vh">
      <div class="layout-row flex">
        {{outlet}}
      </div>
    </div>
  </PaperCardContent>
</PaperSidenavContainer>
